

		<!-- Wrapper-->
			<div id="wrapper">

				<!-- Nav -->
					<nav id="nav">
						<a href="/index" class="icon solid fa-home"><span>Home</span></a>
						<a href="#work" class="icon solid fa-map"><span>Map</span></a>
						<a href="#search" class="icon solid fa-search"><span>Search</span></a>
						<a href="https://police.gov.taipei/Default.aspx" class="icon solid fa-globe"><span>Url</span></a>
					</nav>

				<!-- Main -->
					<div id="main">

						<!-- Me -->
							<article id="home" class="panel intro">
								<header>
									<h1>資料crew</h1>
									<p>郭晉維 高靖 陳伯庭 陳暐誠</p>
								</header>
								<a href="#work" class="jumplink pic">
									<span class="arrow icon solid fa-chevron-right"><span>See my work</span></span>
									<img src="images/me.jpg" alt="" />
								</a>
							</article>

						<!-- Work -->
							<article id="work" class="panel">
								<header>
									<h2>Work</h2>
								</header>
								<p>
									Phasellus enim sapien, blandit ullamcorper elementum eu, condimentum eu elit.
									Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia
									luctus elit eget interdum.
								</p>
								<section>
									<div class="row">
										<div class="col-4 col-6-medium col-12-small">
											<a href="#" class="image fit"><img src="images/pic01.jpg" alt=""></a>
										</div>
										<div class="col-4 col-6-medium col-12-small">
											<a href="#" class="image fit"><img src="images/pic02.jpg" alt=""></a>
										</div>
										<div class="col-4 col-6-medium col-12-small">
											<a href="#" class="image fit"><img src="images/pic03.jpg" alt=""></a>
										</div>
										<div class="col-4 col-6-medium col-12-small">
											<a href="#" class="image fit"><img src="images/pic04.jpg" alt=""></a>
										</div>
										<div class="col-4 col-6-medium col-12-small">
											<a href="#" class="image fit"><img src="images/pic05.jpg" alt=""></a>
										</div>
										<div class="col-4 col-6-medium col-12-small">
											<a href="#" class="image fit"><img src="images/pic06.jpg" alt=""></a>
										</div>
										<div class="col-4 col-6-medium col-12-small">
											<a href="#" class="image fit"><img src="images/pic07.jpg" alt=""></a>
										</div>
										<div class="col-4 col-6-medium col-12-small">
											<a href="#" class="image fit"><img src="images/pic08.jpg" alt=""></a>
										</div>
										<div class="col-4 col-6-medium col-12-small">
											<a href="#" class="image fit"><img src="images/pic09.jpg" alt=""></a>
										</div>
										<div class="col-4 col-6-medium col-12-small">
											<a href="#" class="image fit"><img src="images/pic10.jpg" alt=""></a>
										</div>
										<div class="col-4 col-6-medium col-12-small">
											<a href="#" class="image fit"><img src="images/pic11.jpg" alt=""></a>
										</div>
										<div class="col-4 col-6-medium col-12-small">
											<a href="#" class="image fit"><img src="images/pic12.jpg" alt=""></a>
										</div>
									</div>
								</section>
							</article>

						<!-- Search -->
							<article id="search" class="panel">
								<header>
									<h2>搜尋您附近的失竊案件</h2>
								</header>
								<!-- <div class='col-6 col-12-medium'>
									<select name="selection">
									  <option value="1">Opt1</option>
									  <option value="2">Opt2</option>
									</select>
								</div> -->

								<div class="btn-group">
								  <span type="button" class="nav-link dropdown-toggle"  data-bs-toggle="dropdown" aria-expanded="false">
								    年分
								  </span>
								  <ul class="dropdown-menu">
								    <li><a class="dropdown-item">2021</a></li>
								    <li><a class="dropdown-item" href="#">2020</a></li>
								    <li><a class="dropdown-item" href="#">2019</a></li>
								    <li><a class="dropdown-item" href="#">2018</a></li>
								    <li><a class="dropdown-item" href="#">2017</a></li>
								  </ul>
								</div>

								<% @m = "月份" %>
								<div class="btn-group">
									<span type="button" class="nav-link dropdown-toggle"  data-bs-toggle="dropdown" aria-expanded="false">
										<%= @m  %>
									</span>
									<ul class="dropdown-menu">
										<% @m = "一月" %>
										<li><a class="dropdown-item" >Jan<% @m="一月"%></a></li>
										<li><a class="dropdown-item" href="#">Feb</a></li>
										<li><a class="dropdown-item" href="#">Mar</a></li>
										<li><a class="dropdown-item" href="#">Apr</a></li>
										<li><a class="dropdown-item" href="#">May</a></li>
										<li><a class="dropdown-item" href="#">Jun</a></li>
										<li><a class="dropdown-item" href="#">Jul</a></li>
										<li><a class="dropdown-item" href="#">Aug</a></li>
										<li><a class="dropdown-item" href="#">Sep</a></li>
										<li><a class="dropdown-item" href="#">Oct</a></li>
										<li><a class="dropdown-item" href="#">Nov</a></li>
										<li><a class="dropdown-item" href="#">Dec</a></li>
									</ul>
								</div>

								<div class="btn-group">
									<span type="button" class="nav-link dropdown-toggle"  data-bs-toggle="dropdown" aria-expanded="false">
										行政區
									</span>
									<ul class="dropdown-menu">
										<li><a class="dropdown-item" href="#">2021</a></li>
										<li><a class="dropdown-item" href="#">2020</a></li>
										<li><a class="dropdown-item" href="#">2019</a></li>
										<li><a class="dropdown-item" href="#">2018</a></li>
										<li><a class="dropdown-item" href="#">2017</a></li>
									</ul>
								</div>

								<div class="btn-group">
									<span type="button" class="btn btn-dark">搜尋</span>
								</div>

								<!-- <div class="btn-group">
									<button class="btn btn-secondary dropdown-toggle" href="/some-link" data-target="#parentDropdown" id="dropdownMenuButton2" role="button" data-toggle="dropdown" aria-haspopup="true" data-bs-auto-close="true" aria-expanded="false">
								    年分
									</button>
								  <ul class="dropdown-menu dropdown-menu-dark"  aria-labelledby="dropdownMenuButton2">
								    <li><a class="dropdown-item" href="#">2021</a></li>
								    <li><a class="dropdown-item" href="#">2020</a></li>
								    <li><a class="dropdown-item" href="#">2019</a></li>
								    <li><a class="dropdown-item" href="#">2018</a></li>
								    <li><a class="dropdown-item" href="#">2017</a></li>
								  </ul>
								</div> -->




								<!-- <div class="row">
									<select class="col-md-2" name="month">
										<option value="1">Jan</option>
										<option value="2">Feb</option>
										<option value="3">Mar</option>
										<option value="4">Apr</option>
										<option value="5">May</option>
										<option value="6">Jun</option>
									</select>
									<select class="col-md-2" name="dict">
										<option value="1">中正區</option>
									</select>
									<button type="button" class="col-2" name="search">搜尋</button>
								</div> -->
								<p></p>

								<table class="table table-striped">
									<thead>
										<tr>
											<th scope="col">日期</th>
											<th scope="col">時間</th>
											<th scope="col">地點</th>
										</tr>
									</thead>
									<tbody>

										<% @bikestole.each do |p| %>
										<tr>
											<td><%= p.date %></td>
											<td><%= p.time %></td>
											<td><%= p.location %></td>
										</tr>
										<% end %>
									</tbody>
								</table>

								<ul class="pagination justify-content-center">
									<%= paginate @bikestole , :remote => true %>
								</ul>




							</article>

					</div>

				<!-- Footer -->
					<div id="footer">
						<ul class="copyright">
							<li>&copy; j</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
						</ul>
					</div>

			</div>

		<!-- Scripts -->
			<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
			<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
			<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>
			<script src="packs/browser.min.js"></script>
			<script src="packs/breakpoints.min.js"></script>
			<!-- <script src="packs/util.js"></script> -->
			<script src="packs/main.js"></script>
			<!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script> -->
